.logo {
  /*margin-right: 93px;*/
  color: $accent-color;
  font-family: "Raleway";
  font-weight: 700;
  &--blue {
    color: $botton-color;
  }
  &--white {
    color: $secondary-color;
  }
}
@media screen and (min-width: 768px) {
  div .logo--white{
    text-align: center;
  }
}
  @media screen and (min-width: 1200px) {
 
   }