.team {
  background-color: $background-color;
}
.image{
  width: 100%;
  display: block;
}
.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*width: 90%;*/
  &__item{
    width: 90%;
    background-color: $secondary-color;
    display: inline-block;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
    }
    &__name{
      font-weight: 500;
      font-size: 16px;
      line-height: 119%;
      margin-top: 30px;
      text-align: center;
      margin-bottom: 10px;
      letter-spacing: 0.03em;
      color: $accent-color;
    }
      &__occupation {
      font-size: 16px;
      line-height: 119%;
      /*margin-top: 10px;*/
      text-align: center;
      margin-bottom: 16px;
      letter-spacing: 0.03em;
    }
    &--position {
   
      gap: 10px;
    }
    &__social {
      fill: $social-color;
      border-radius: 50%;
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px 24px 5px;

      &:hover,
      &:focus {
        background-color: $botton-color;
        fill: $secondary-color;
      }
    }
}


@media screen and (min-width: 768px) {
  .grid{
   gap:30px;
  }
  .grid__item{
    width: 45%;
    margin-bottom: 0;
  }
  .grid--position{
    gap: 10px;
  }
}
  @media screen and (min-width: 1200px) {
    /*.grid{
      gap:30px;
     }*/
     .grid__item{
       width: 22.5%;
     }
     .grid--position{
       gap: 10px;
     }
   }

