$primary-color: #757575;
$accent-color: #212121;
$secondary-color: #ffffff;
$foreground-color: #2f303a;
$background-color: #f5f4fa;
$social-color: #afb1b8;
$botton-color: #2196f3;
$hover-color: #188ce8;
$gap: 30;
